<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>你好！微中介服务系统.</title>
    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/carousel.css" rel="stylesheet"/>
    <link href="css/layoutit.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/1.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/2.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/3.jpg"/>
    <link rel="apple-touch-icon-precomposed" href="/static/4.jpg"/>
    <link rel="shortcut icon" href="http://www.runoob.com/favicon.ico"/>
    -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="js/scripts.min.js"></script>


    <style>

    </style>

</head>
<div th:include="/pagetop :: #hello"></div>

<body>


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xs-12 column" >
            <div class="row clearfix" style="margin-top: -20px">
                <div class="col-md-12 column">

                    <!--haaaaaaaaaaaaaaaaaaaaaaaa-->

                    <div class="carousel slide" id="carousel-740540">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-740540" data-slide-to="0">
                            </li>
                            <li class="active" data-target="#carousel-740540" data-slide-to="1">
                            </li>
                            <li data-target="#carousel-740540" data-slide-to="2">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <center><img alt="" src="img/1.jpg"/></center>
                                <div class="carousel-caption">
                                    <h4>
                                        徐志摩
                                    </h4>
                                    <p>
                                        我懂你，像懂自己一样深刻。
                                    </p>
                                </div>
                            </div>
                            <div class="item active">
                                <center><img alt="" src="img/2.jpg"/></center>
                                <div class="carousel-caption">
                                    <h4>
                                        三毛
                                    </h4>
                                    <p>
                                        遇到对的人，幸福是常态。
                                    </p>
                                </div>
                            </div>
                            <div class="item ">
                                <center><img alt="" src="img/3.jpg"/></center>
                                <div class="carousel-caption">
                                    <h4>
                                        跌名
                                    </h4>
                                    <p>
                                        人在旅途，不是你看清了多少事， 而是你看轻了多少事。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-740540" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left">
                            </span></a> <a class="right carousel-control" href="#carousel-740540" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    </div>
                </div>
            </div>
            <!--haaaaaaaaaaaaaaaaaaaaaaaa-->
            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/101.jpg"/>
                        <div class="caption">
                            <h3>
                                人生若只如初见
                            </h3>
                            <p class="caption-p" title=" 如果我有来生，我还是会一个人孤单一辈子，因为我爱的人不爱我。">
                                如果我有来生，我还是会一个人孤单一辈子，因为我爱的人不爱我。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/102.jpg"/>
                        <div class="caption">
                            <h3>
                                撒哈拉的故事
                            </h3>
                            <p class="caption-p" title=" 飞蛾扑火时，一定是极快乐幸福的。">
                                飞蛾扑火时，一定是极快乐幸福的。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/103.jpg"/>
                        <div class="caption">
                            <h3>
                                雨天的7毫米
                            </h3>
                            <p class="caption-p" title="你一直想到遥远的地方去，这些年过去了，你却仍然停留在原地。">
                                你一直想到遥远的地方去，这些年过去了，你却仍然停留在原地。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/104.jpg"/>
                        <div class="caption">
                            <h3>
                                人生若只如初见
                            </h3>
                            <p class="caption-p" title="如果我有来生，我还是会一个人孤单一辈子，因为我爱的人不爱我。">
                                如果我有来生，我还是会一个人孤单一辈子，因为我爱的人不爱我。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/105.jpg"/>
                        <div class="caption">
                            <h3>
                                撒哈拉的故事
                            </h3>
                            <p class="caption-p"
                               title=" Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.">
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.

                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/106.jpg"/>
                        <div class="caption">
                            <h3>
                                雨天的7毫米
                            </h3>
                            <p class="caption-p"
                               title="Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.">
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.

                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>