<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer id="pgfooter" class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
            <small class="d-block mb-3 text-muted">&copy;2018/3-5</small>
        </div>
        <div class="col-6 col-md">
            <h5>项目模块</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">房屋模块</a></li>
                <li><a class="text-muted" href="#">零工模块</a></li>
                <li><a class="text-muted" href="#">更多设计</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>使用技术</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">BootStrap</a></li>
                <li><a class="text-muted" href="#">Java Script</a></li>
                <li><a class="text-muted" href="#">Spring Boot</a></li>
                <li><a class="text-muted" href="#">Mybatis</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>源码解析</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">House Resources</a></li>
                <li><a class="text-muted" href="#">Work Resources</a></li>
                <li><a class="text-muted" href="#">User Resources</a></li>
                <li><a class="text-muted" href="#">Others</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>关于我们</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">开发团队</a></li>
                <li><a class="text-muted" href="#">关于</a></li>

            </ul>
        </div>
    </div>
</footer>

</body>
</html>