<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>登录页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="css4/bootstrap.min.css"/>
    <script src="js4/jquery-3.3.1.min.js"></script>
    <script src="js4/bootstrap.min.js"></script>
    <link href="css4/product.css" rel="stylesheet">
    <link href="css4/signin.css" rel="stylesheet">
    <script>
        $(function () {

            $("#fristpass").blur(function () {
                var password = this.value;
                var reg = /^[a-zA-Z0-9]{6,16}$/;
                var ss = reg.test(password);
                if (!ss) {
                    document.getElementById("dv1").innerHTML = "密码格式不正确,非6-18位字母数字组合！";
                }
            });
        });

        $(function () {

            $("#sub").click(function () {
                var password = this.value;
                var reg = /^[a-zA-Z0-9]{6,16}$/;
                var ss = reg.test(password);
                if (!ss) {
                    document.getElementById("dv1").innerHTML = "密码格式不正确,非6-18位字母数字组合！";
                }
            });
        });

        function checkForm() {
            var pwd1 = document.getElementById("fristpass").value;
            var pwd2 = document.getElementById("secondpass").value;
            var reg = /^[a-zA-Z0-9]{6,16}$/;
           /* var ss = reg.test(password);*/
            if (reg.test(pwd2) && reg.test(pwd1) && document.getElementById("secondpass").value == document.getElementById("fristpass").value) {
                return true;
            } else {
                return false;
                if (document.getElementById("secondpass").value != document.getElementById("fristpass").value) {
                    document.getElementById("dv2").innerHTML = "两次密码不一致！";
                } else if (!reg.test(pwd1)) {
                    document.getElementById("dv1").innerHTML = "密码格式不正确,非6-18位字母数字组合！";
                } else if (!reg.test(pwd2)||document.getElementById("secondpass").value != document.getElementById("fristpass").value) {
                    document.getElementById("dv2").innerHTML = "密码格式不正确,非6-18位字母数字组合！";
                }
            }

        }

    </script>
</head>

<body style="background-image: url('img/888.jpeg'); background-size: cover">

<form onsubmit="return checkForm()" id="forsub" class="form-signin" action="/updatepassword" method="post">
    <center><img class="mb-4" src="../../static/img/106.jpg" alt="" width="72" height="72" style="border-radius: 100%">
    </center>
    <h1 class="h3 mb-3 font-weight-normal">修改密码</h1>

    <label for="username" class="sr-only">用户名</label>
    <input type="text" id="username" class="form-control" name="username" th:value="${session.user.getUserName()}"
           disabled/>


    <input type="password" id="fristpass" style="margin-top: 15px;" class="form-control" name="fristpass"
           placeholder="首次输入新密码"/>
    <p id="dv1"></p>

    <input type="password" id="secondpass" style="margin-top: -5px" class="form-control" name="secondpass"
           placeholder="再次输入新密码"/>
    <p id="dv2"></p>
    <button id="sub" class="btn btn-lg btn-primary btn-block" onclick='doSubmit()'>提交</button>
    <p class="" style="margin-top: 7px">还没想好么？<a href="index.html" >点我试试</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2018/3-5</p>
</form>


</body>
</html>
